In [91]:
## DF UNO

In [108]:
import pandas as pd
import numpy as np

# Re-generar un conjunto de datos ficticio para el problema 1: Análisis de Churn en un banco con características más significativas

# Definir las características
n_samples = 10000

# Crear un DataFrame con características que tienen sentido para un banco
np.random.seed(42)  # Para reproducibilidad
df_churn = pd.DataFrame({
    'customer_id': np.arange(n_samples),
    'age': np.random.randint(18, 90, size=n_samples),
    'gender': np.random.choice(['Female', 'Male', 'Other'], size=n_samples),
    'balance': np.random.uniform(0, 100000, size=n_samples),
    'num_of_products': np.random.randint(1, 5, size=n_samples),
    'credit_score': np.random.randint(300, 850, size=n_samples),
    'tenure': np.random.randint(0, 30, size=n_samples),
    'active_member': np.random.choice([0, 1], size=n_samples),
    'estimated_salary': np.random.uniform(10000, 120000, size=n_samples),
    'has_cr_card': np.random.choice([0, 1], size=n_samples),
    'is_primary_account': np.random.choice([0, 1], size=n_samples),
    'churn': np.random.choice([0, 1], size=n_samples, p=[0.8, 0.2])  # 20% de tasa de churn
})

df_churn.head()

,customer_id,age,gender,balance,num_of_products,credit_score,tenure,active_member,estimated_salary,has_cr_card,is_primary_account,churn
0,0,69,Female,37136.301898,3,805,1,0,86361.841372,1,1,0
1,1,32,Other,94448.477509,2,681,0,1,34621.418464,1,0,0
2,2,89,Other,70544.886771,4,724,4,1,38764.010392,1,1,1
3,3,78,Female,75420.109199,1,735,26,0,109830.451619,0,1,0
4,4,38,Female,24242.209501,1,621,26,1,62368.092779,1,0,0

In [109]:
df_churn.to_csv('df_churn_full.csv')

In [93]:
## DF DOS

In [94]:
# Generar un conjunto de datos ficticio para el problema 2: Optimización de la cadena de suministro en retail

# Definir las características para el contexto de retail
n_samples = 10000

# Crear un DataFrame con características relevantes para la cadena de suministro en retail
np.random.seed(42)  # Para reproducibilidad
df_supply_chain = pd.DataFrame({
    'store_id': np.random.choice(range(1, 101), size=n_samples),
    'product_id': np.random.choice(range(1000, 5000), size=n_samples),
    'day_of_week': np.random.choice(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'], size=n_samples),
    'season': np.random.choice(['Spring', 'Summer', 'Fall', 'Winter'], size=n_samples),
    'quantity_sold': np.random.poisson(lam=50, size=n_samples),
    'stock_before_order': np.random.randint(0, 200, size=n_samples),
    'stock_after_order': np.random.randint(0, 200, size=n_samples),
    'order_amount': np.random.randint(1, 100, size=n_samples),
    'lead_time_days': np.random.randint(1, 15, size=n_samples),
    'supplier_id': np.random.choice(range(500, 1000), size=n_samples),
    'delivery_time_expected': np.random.randint(1, 15, size=n_samples),
    'delivery_time_actual': np.random.randint(1, 15, size=n_samples),
    'transport_mode': np.random.choice(['Ship', 'Truck', 'Air', 'Rail'], size=n_samples),
    'order_cost': np.random.uniform(100, 1000, size=n_samples),
    'sell_price_per_unit': np.random.uniform(10, 100, size=n_samples),
    'discount_offered': np.random.uniform(0, 0.3, size=n_samples),  # Hasta un 30% de descuento
})

df_supply_chain.head()

,store_id,product_id,day_of_week,season,quantity_sold,stock_before_order,stock_after_order,order_amount,lead_time_days,supplier_id,delivery_time_expected,delivery_time_actual,transport_mode,order_cost,sell_price_per_unit,discount_offered
0,52,1165,Sunday,Spring,52,172,119,66,7,616,1,13,Ship,908.563513,99.552510,0.172834
1,93,2573,Monday,Summer,48,166,108,30,8,519,2,6,Ship,296.613395,10.096146,0.129171
2,15,4252,Monday,Fall,39,169,123,86,11,623,6,5,Rail,419.664066,50.815954,0.253286
3,72,3908,Thursday,Fall,34,138,18,32,6,611,14,2,Ship,424.547054,37.622890,0.019347
4,61,1616,Tuesday,Summer,49,165,36,33,1,702,14,8,Truck,571.926857,48.514356,0.068770

In [110]:
df_supply_chain.to_csv('df_supply_chain.csv')

In [95]:
## DF TRES

In [96]:
# Generar un conjunto de datos ficticio para el problema 3: Segmentación de clientes en una consultoría

# Definir las características para la segmentación de clientes en una consultoría
n_samples = 10000

# Crear un DataFrame con características relevantes para la segmentación de clientes en consultoría
np.random.seed(42)  # Para reproducibilidad
df_segmentation = pd.DataFrame({
    'client_id': np.arange(n_samples),
    'industry': np.random.choice(['Finance', 'Healthcare', 'Technology', 'Retail', 'Manufacturing'], size=n_samples),
    'annual_revenue': np.random.uniform(1e6, 1e10, size=n_samples),
    'num_employees': np.random.choice([50, 200, 500, 1000, 5000], size=n_samples),
    'years_in_business': np.random.randint(1, 100, size=n_samples),
    'total_projects': np.random.randint(1, 30, size=n_samples),
    'avg_project_value': np.random.uniform(5e4, 5e6, size=n_samples),
    'satisfaction_score': np.random.randint(1, 10, size=n_samples),
    'referral_score': np.random.randint(1, 10, size=n_samples),
    'last_project_size': np.random.uniform(1e5, 1e7, size=n_samples),
    'last_project_duration': np.random.randint(1, 36, size=n_samples)  # Duration in months
})

df_segmentation.head()

,client_id,industry,annual_revenue,num_employees,years_in_business,total_projects,avg_project_value,satisfaction_score,referral_score,last_project_size,last_project_duration
0,0,Retail,3.868770e+08,200,52,26,1.738546e+05,4,2,3.386870e+06,19
1,1,Manufacturing,8.788933e+09,5000,12,17,2.728094e+06,1,9,3.988797e+06,9
2,2,Technology,3.150017e+09,1000,38,4,6.136872e+05,5,2,1.331925e+06,14
3,3,Manufacturing,1.290660e+09,1000,85,17,2.208241e+06,8,9,4.984223e+06,3
4,4,Manufacturing,4.685144e+09,50,41,26,3.966070e+06,6,8,7.557625e+06,30

In [97]:
## DF CUATRO

In [98]:
# Generar un conjunto de datos ficticio para el problema 4: Predicción de default en créditos

# Definir las características para el contexto financiero de predicción de default
n_samples = 10000

# Crear un DataFrame con características relevantes para la predicción de default en créditos
np.random.seed(42)  # Para reproducibilidad
df_credit_default = pd.DataFrame({
    'customer_id': np.arange(n_samples),
    'credit_score': np.random.randint(300, 850, size=n_samples),
    'age': np.random.randint(18, 90, size=n_samples),
    'years_with_bank': np.random.randint(0, 30, size=n_samples),
    'num_credit_cards': np.random.randint(1, 10, size=n_samples),
    'total_loan_amount': np.random.uniform(5000, 50000, size=n_samples),
    'outstanding_debt': np.random.uniform(0, 15000, size=n_samples),
    'monthly_income': np.random.uniform(3000, 20000, size=n_samples),
    'missed_payments_1yr': np.random.randint(0, 5, size=n_samples),
    'loan_to_income_ratio': np.random.uniform(0.1, 0.5, size=n_samples),
    'previous_default': np.random.choice([0, 1], size=n_samples, p=[0.85, 0.15]),  # 15% have defaulted before
    'default_in_next_6months': np.random.choice([0, 1], size=n_samples, p=[0.93, 0.07])  # 7% chance of default
})

df_credit_default.head()

,customer_id,credit_score,age,years_with_bank,num_credit_cards,total_loan_amount,outstanding_debt,monthly_income,missed_payments_1yr,loan_to_income_ratio,previous_default,default_in_next_6months
0,0,402,71,16,6,5274.315724,11275.732553,12196.862949,4,0.484961,0,1
1,1,735,74,10,8,14179.722831,10877.591467,10871.008987,2,0.394752,0,0
2,2,570,37,26,6,27224.446102,14962.984259,19244.684710,1,0.463539,0,0
3,3,406,66,1,1,25605.949018,13679.216710,7477.741895,1,0.145086,0,0
4,4,371,24,22,8,31338.165945,10269.903475,4562.151136,1,0.148395,0,0

In [99]:
## DF CINCO

In [100]:
# Generar un conjunto de datos ficticio para el problema 5: Análisis de ROI en campañas de marketing

# Definir las características para el contexto de marketing
n_samples = 10000

# Crear un DataFrame con características relevantes para el análisis de ROI en campañas de marketing
np.random.seed(42)  # Para reproducibilidad
df_marketing_roi = pd.DataFrame({
    'campaign_id': np.arange(n_samples),
    'channel': np.random.choice(['Social Media', 'Email', 'SEO', 'PPC', 'TV', 'Radio', 'Print'], size=n_samples),
    'reach': np.random.randint(1000, 1000000, size=n_samples),
    'frequency': np.random.uniform(1, 10, size=n_samples),
    'budget': np.random.uniform(1000, 100000, size=n_samples),
    'clicks': np.random.randint(0, 50000, size=n_samples),
    'conversions': np.random.randint(0, 10000, size=n_samples),
    'avg_conversion_value': np.random.uniform(10, 500, size=n_samples),
    'begin_date': pd.date_range(start='2021-01-01', periods=n_samples, freq='D'),
    'end_date': pd.date_range(start='2021-01-01', periods=n_samples, freq='D') + pd.to_timedelta(np.random.randint(1, 30, size=n_samples), unit='D'),
    'region': np.random.choice(['North America', 'Europe', 'Asia', 'South America', 'Australia', 'Africa'], size=n_samples)
})

df_marketing_roi.head()

,campaign_id,channel,reach,frequency,budget,clicks,conversions,avg_conversion_value,begin_date,end_date,region
0,0,Print,190921,9.542535,39543.775647,39241,8865,303.824523,2021-01-01,2021-01-03,Asia
1,1,PPC,600142,8.431826,59693.457740,40251,6759,215.888812,2021-01-02,2021-01-09,South America
2,2,TV,566544,4.164830,52064.408065,4415,8948,71.556014,2021-01-03,2021-01-19,Europe
3,3,Print,241617,9.152888,99386.450143,48616,5184,131.869456,2021-01-04,2021-01-11,North America
4,4,SEO,109721,9.835161,49555.571285,31545,4296,473.598250,2021-01-05,2021-01-09,South America

In [101]:
## DF SEIS

In [102]:
# Generar un conjunto de datos ficticio para el problema 6: Pronóstico de la demanda por tienda en retail

# Definir las características para el pronóstico de demanda en el contexto de retail
n_samples = 10000

# Crear un DataFrame con características relevantes para el pronóstico de la demanda en retail
np.random.seed(42)  # Para reproducibilidad
df_demand_forecast = pd.DataFrame({
    'store_id': np.random.choice(range(1, 101), size=n_samples),
    'product_id': np.random.choice(range(1000, 5000), size=n_samples),
    'date': pd.date_range(start='2021-01-01', periods=n_samples, freq='D'),
    'sales': np.random.poisson(lam=50, size=n_samples),  # Simulando las ventas diarias como una distribución de Poisson
    'avg_customer_spend': np.random.uniform(20, 200, size=n_samples),  # Gasto promedio por cliente
    'customer_traffic': np.random.randint(100, 5000, size=n_samples),  # Tráfico de clientes en la tienda
    'stock_levels': np.random.randint(0, 500, size=n_samples),  # Niveles de stock del producto
    'promotion_in_effect': np.random.choice([True, False], size=n_samples),  # Si hay una promoción en efecto
    'holiday': np.random.choice([True, False], size=n_samples),  # Si el día corresponde a una festividad
    'season': np.random.choice(['Spring', 'Summer', 'Fall', 'Winter'], size=n_samples),  # Temporada del año
    'local_events': np.random.choice([True, False], size=n_samples),  # Si hay eventos locales que podrían afectar las ventas
    'competition_price': np.random.uniform(10, 150, size=n_samples),  # Precio de la competencia para el producto
    'weather_condition': np.random.choice(['Sunny', 'Rainy', 'Snowy', 'Cloudy'], size=n_samples)  # Condición climática del día
})

df_demand_forecast.head()

,store_id,product_id,date,sales,avg_customer_spend,customer_traffic,stock_levels,promotion_in_effect,holiday,season,local_events,competition_price,weather_condition
0,52,1165,2021-01-01,43,82.509029,2446,16,True,True,Summer,False,109.755571,Sunny
1,93,2573,2021-01-02,40,151.944179,849,160,False,True,Summer,True,35.503352,Rainy
2,15,4252,2021-01-03,47,27.383837,2843,254,True,True,Summer,False,84.010757,Sunny
3,72,3908,2021-01-04,47,47.521873,1399,157,True,False,Fall,True,129.790489,Cloudy
4,61,1616,2021-01-05,51,134.713312,403,268,True,True,Spring,True,127.653082,Snowy

In [103]:
## DF SIETE

In [104]:
# Generar un conjunto de datos ficticio para el problema 7: Procesamiento del lenguaje natural

# Definir las características para el análisis de feedback de clientes utilizando NLP
n_samples = 10000

# Crear un DataFrame con características relevantes para el procesamiento de lenguaje natural
np.random.seed(42)  # Para reproducibilidad
feedback_options = [
    "The service was exceptional and the staff was helpful.",
    "I'm disappointed with the product quality and post-sales support.",
    "Quick delivery and fantastic customer service!",
    "Not happy with the purchase. The product didn't meet my expectations.",
    "Great experience, I would definitely come back!",
    "I had issues with my order, but customer service resolved it quickly.",
    "The product quality is top-notch. I'm very satisfied with what I received.",
    "Poor customer service, I was not treated well.",
    "Amazing product! I will recommend to my friends.",
    "The product arrived late and the packaging was damaged."
]

df_nlp_feedback = pd.DataFrame({
    'review_id': np.arange(n_samples),
    'customer_id': np.random.choice(range(1, 5001), size=n_samples),
    'feedback': np.random.choice(feedback_options, size=n_samples),
    'feedback_date': pd.date_range(start='2021-01-01', periods=n_samples, freq='D'),
    'product_id': np.random.choice(range(1000, 5000), size=n_samples),
    'rating': np.random.choice(range(1, 6), size=n_samples),  # 1 to 5 rating
    'purchase_price': np.random.uniform(20, 500, size=n_samples),
    'feedback_length': np.random.randint(20, 500, size=n_samples)  # Simulated length of feedback text
})

df_nlp_feedback.head()

,review_id,customer_id,feedback,feedback_date,product_id,rating,purchase_price,feedback_length
0,0,861,I'm disappointed with the product quality and ...,2021-01-01,3780,4,439.257504,237
1,1,3773,The product arrived late and the packaging was...,2021-01-02,1389,2,121.822676,422
2,2,3093,"Great experience, I would definitely come back!",2021-01-03,4636,4,161.134338,324
3,3,467,I'm disappointed with the product quality and ...,2021-01-04,1159,5,359.163228,212
4,4,4427,The product arrived late and the packaging was...,2021-01-05,1891,1,348.104152,352

In [105]:
# Revisar y expandir el conjunto de datos ficticio para el problema 7: Procesamiento del lenguaje natural con más variables

# Crear variables adicionales para proporcionar una mayor profundidad al análisis de NLP
np.random.seed(42)  # Para reproducibilidad
df_nlp_feedback = pd.DataFrame({
    'review_id': np.arange(n_samples),
    'customer_id': np.random.choice(range(1, 5001), size=n_samples),
    'feedback': np.random.choice(feedback_options, size=n_samples),
    'feedback_date': pd.date_range(start='2021-01-01', periods=n_samples, freq='D'),
    'product_id': np.random.choice(range(1000, 5000), size=n_samples),
    'rating': np.random.choice(range(1, 6), size=n_samples),  # 1 to 5 rating
    'purchase_price': np.random.uniform(20, 500, size=n_samples),
    'feedback_length': np.random.randint(20, 500, size=n_samples),  # Simulated length of feedback text
    'product_category': np.random.choice(['Electronics', 'Clothing', 'Home & Garden', 'Health & Beauty', 'Sports'], size=n_samples),
    'purchase_channel': np.random.choice(['Online', 'In-Store', 'Mobile App'], size=n_samples),
    'return_status': np.random.choice(['Returned', 'Not Returned'], size=n_samples),
    'customer_loyalty_segment': np.random.choice(['Bronze', 'Silver', 'Gold', 'Platinum'], size=n_samples),
    'customer_lifetime_value': np.random.uniform(1000, 50000, size=n_samples),  # Simulated CLV
    'customer_region': np.random.choice(['North', 'South', 'East', 'West'], size=n_samples)
})

df_nlp_feedback.head()

,review_id,customer_id,feedback,feedback_date,product_id,rating,purchase_price,feedback_length,product_category,purchase_channel,return_status,customer_loyalty_segment,customer_lifetime_value,customer_region
0,0,861,I'm disappointed with the product quality and ...,2021-01-01,3780,4,439.257504,237,Electronics,In-Store,Returned,Platinum,33464.383923,South
1,1,3773,The product arrived late and the packaging was...,2021-01-02,1389,2,121.822676,422,Health & Beauty,In-Store,Returned,Bronze,1392.630204,South
2,2,3093,"Great experience, I would definitely come back!",2021-01-03,4636,4,161.134338,324,Home & Garden,Mobile App,Returned,Bronze,3329.889766,East
3,3,467,I'm disappointed with the product quality and ...,2021-01-04,1159,5,359.163228,212,Clothing,In-Store,Not Returned,Silver,38107.482349,South
4,4,4427,The product arrived late and the packaging was...,2021-01-05,1891,1,348.104152,352,Home & Garden,In-Store,Not Returned,Platinum,24403.725230,West

In [106]:
## DF OCHO

In [107]:
# Generar un conjunto de datos ficticio para el problema 8: Precios Dinámicos

# Definir las características para el contexto de precios dinámicos
n_samples = 10000

# Crear un DataFrame con características relevantes para la estrategia de precios dinámicos
np.random.seed(42)  # Para reproducibilidad
df_dynamic_pricing = pd.DataFrame({
    'transaction_id': np.arange(n_samples),
    'product_id': np.random.choice(range(1000, 5000), size=n_samples),
    'date_time': pd.date_range(start='2021-01-01', periods=n_samples, freq='min'),  # Transacciones en cada minuto
    'units_sold': np.random.poisson(lam=2, size=n_samples),  # Suponiendo una tasa de venta promedio
    'unit_price': np.random.uniform(10, 100, size=n_samples),  # Precio unitario base
    'customer_type': np.random.choice(['New', 'Returning'], size=n_samples),
    'market_segment': np.random.choice(['Budget', 'Mid-range', 'Premium'], size=n_samples),
    'season': np.random.choice(['Spring', 'Summer', 'Fall', 'Winter'], size=n_samples),
    'holiday': np.random.choice([True, False], size=n_samples),
    'discount_rate': np.random.uniform(0, 0.3, size=n_samples),  # Tasa de descuento aplicada
    'cost_to_serve': np.random.uniform(1, 15, size=n_samples),  # Costo para servir el producto
    'inventory_levels': np.random.randint(0, 1000, size=n_samples),  # Niveles de inventario actuales
    'competitor_price': np.random.uniform(5, 150, size=n_samples),  # Precio de la competencia
    'weather_factor': np.random.choice(['Clear', 'Rainy', 'Snow', 'Storm'], size=n_samples),  # Factor climático que podría influir en la demanda
    'economic_index': np.random.uniform(0.9, 1.1, size=n_samples)  # Índice económico que podría influir en la elasticidad de la demanda
})

df_dynamic_pricing.head()

,transaction_id,product_id,date_time,units_sold,unit_price,customer_type,market_segment,season,holiday,discount_rate,cost_to_serve,inventory_levels,competitor_price,weather_factor,economic_index
0,0,4174,2021-01-01 00:00:00,3,87.737757,New,Budget,Spring,False,0.164139,6.376444,541,27.703293,Snow,1.021807
1,1,4507,2021-01-01 00:01:00,1,66.884121,Returning,Premium,Summer,False,0.205371,2.788381,586,54.349796,Clear,1.070404
2,2,1860,2021-01-01 00:02:00,1,29.706591,Returning,Budget,Winter,True,0.123311,12.918539,655,110.365111,Snow,1.075048
3,3,2294,2021-01-01 00:03:00,4,42.549988,New,Mid-range,Summer,True,0.196531,3.538858,390,106.603761,Storm,1.080230
4,4,2130,2021-01-01 00:04:00,3,81.096833,Returning,Budget,Spring,True,0.164688,8.569926,117,40.751182,Snow,1.061503